@if (loading) {
    <h1 class="p-4 text-2xl text-center">Loading...</h1>
    } @if (!loading) {
        <div class="flex py-3 px-10 justify-between">
            <h1 class="text-4xl font-extrabold text-gray-800">Match History</h1>
        </div>
            <div class="card-container flex-wrap flex-col md:flex-row flex">
                @for (match of allMatches; track $index) 
            {
                <div class="md:w-[33%] p-3 w-full">
                    <app-match-card [data]="match"></app-match-card>
                </div>
            }
            </div>
    }